<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlhy.lgs.utils">
    <application>
        <provider
            android:name="com.xlhy.lgs.utils.LgsUtilProvider"
            android:authorities="${applicationId}.utilcode.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/code_provider_paths" />
        </provider>

    </application>
</manifest>